{%- if form.posted_successfully? -%}
	{% if formId == 'ContactForm' %}
		<input type="hidden" value="{{ 'contact_us.form.post_success' | t }}" data-title-value="{{ 'contact_us.form.post_success_title' | t }}" id="_fetch_success_text">
	{% else %}
        <input type="hidden" value="{{ 'contact_us.form.post_success' | t }}" data-title-value="{{ 'contact_us.form.post_success_return_title' | t }}" id="_fetch_success_text">
	{% endif %}
<script>
  jQuery(function($) {
    var _title = $('#_fetch_success_text').data('title-value')
        var msg = $('#_fetch_success_text').val()
  	$('body').append('<div class="custom-success-modal"><div class="modal-body"><h5>'+ _title +'</h5><p>'+ msg + '</p><button class="btn">DONE</button></div></div>');

  
      $('body').on('click touch', '.custom-success-modal', function() {
            $(document).find('.custom-success-modal').remove();

    })
    })
</script>
{%- endif -%}

{% comment %} We need to add this so the errors are output in the right order {% endcomment %}
{% assign error_order = "author, email, body, password, form" | split: ", " %}

{%- if form.errors -%}

  <div class="form-message form-message--error">
    <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
    <ul>
      {% for error in error_order %}
        {% for field in form.errors %}
          {% if error == field %}
            <li>

              {% capture field_label %}
                {% case field %}
                  {% when 'author' %}
                    {{ 'contact.form.name' | t }}
                  {% when 'body' %}
                    {{ 'contact.form.message' | t }}
                  {% else %}
                    {{ form.errors.translated_fields[field] }}
                {% endcase %}
              {% endcapture %}

              {% comment %} the href should match the input's id {% endcomment %}
              <a href="#{{ form_id }}-{{ field }}" class="form-message__link">{{ field_label | strip | capitalize }} {{ form.errors.messages[field] }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
