{%- assign social_icons = false -%} {%- assign inline_list = false -%} {%- if
settings.social_twitter_link != blank or settings.social_facebook_link != blank
or settings.social_pinterest_link != blank or settings.social_instagram_link !=
blank or settings.social_tumblr_link != blank or settings.social_snapchat_link
!= blank or settings.social_youtube_link != blank or settings.social_vimeo_link
!= blank or template.name == 'article' or template.name == 'blog' -%} {%- assign
social_icons = true -%} {%- endif -%} {%- case section.blocks.size -%} {%- when
1 -%} {%- assign footer_item = 'site-footer__item--full-width' -%} {%- assign
inline_list = true -%} {%- when 2 -%} {%- assign footer_item =
'site-footer__item--one-half' -%} {%- assign inline_list = true -%} {%- when 3
-%} {%- assign footer_item = 'site-footer__item--one-third' -%} {%- for block in
section.blocks -%} {%- if block.type == 'newsletter' -%} {%- assign footer_item
= 'site-footer__item--one-quarter' -%} {%- break -%} {%- endif -%} {%- endfor
-%} {%- when 4 -%} {%- assign footer_item = 'site-footer__item--one-quarter' -%}
{%- when 5 -%} {%- assign footer_item = 'site-footer__item--one-fifth' -%} {%-
endcase -%} {% comment %} Create an appropriate hover color based on text color
and brightness {% endcomment %} {%- assign footer_text_color =
section.settings.color_footer_text -%} {%- assign footer_text_color_brightness =
section.settings.color_footer_text | color_brightness -%} {%- if
footer_text_color_brightness <= 26 -%} {%- assign footer_text_color_hover =
footer_text_color | color_lighten: 25 -%} {%- elsif footer_text_color_brightness
<= 65 -%} {%- assign footer_text_color_hover = footer_text_color |
color_lighten: 15 -%} {%- else -%} {%- assign footer_text_color_hover =
footer_text_color | color_darken: 10 -%} {%- endif -%}

<style>
	.site-footer__hr {
	  border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
	}

	.site-footer p,
	.site-footer h4,
	.site-footer small {
	  color: {{ section.settings.color_footer_text }};
	}

	.site-footer {
	  background-color: {{ section.settings.color_footer_bg }};
	}

	.site-footer a:hover {
	  color: {{ footer_text_color_hover }};
	}
</style>

<footer class="site-footer" role="contentinfo">
	<div class="page-width">
		<div class="site-footer__content">
			{%- for block in section.blocks -%}

			<div
				class="site-footer__item
                    {% if section.blocks.size == 1 %} site-footer__item--center{% endif %}
                    {%- case block.type -%}{% when 'text' %}site-footer__item--one-third{% else %}{{
					footer_item
				}}{%- endcase -%}
                    {% if block.type == 'newsletter' and section.blocks.size == 3 %}site-footer-newsletter__one-half{% endif %}"
				{{
				block.shopify_attributes
				}}
			>
				<div
					class="site-footer__item-inner site-footer__item-inner--{{
						block.type
					}}"
				>
					{%- if block.settings.title -%} {%- if block.settings.title
					== 'Hype Flags' -%}
					<img
						class="mx-auto md:m-0"
						width="169px"
						src="https://cdn.shopify.com/s/files/1/0254/3868/3184/files/hype_a907830b-227b-4f63-995b-f28417d5cdb7_300x300.png?v=1561065937"
					/>
					{%- else -%}
					<p class="h4">{{ block.settings.title | escape }}</p>
					{%- endif -%} {%- endif -%} {%- case block.type -%} {%- when
					'newsletter' -%}
					<div
						class="site-footer__newsletter {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}"
					>
						{%- assign formId = 'ContactFooter' -%} {% form
						'customer', id: formId, novalidate: 'novalidate' %} {%-
						if form.posted_successfully? -%}
						<p
							class="form-message form-message--success"
							tabindex="-1"
							data-form-status
						>
							{{ "general.newsletter_form.confirmation" | t }}
						</p>
						{%- endif -%}
						<input
							type="hidden"
							name="contact[tags]"
							value="newsletter"
						/>
						<div
							class="input-group {% if form.errors %} input-group--error{% endif %}"
						>
							<input
								type="email"
								name="contact[email]"
								id="{{ formId }}-email"
								class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
								value="{{ form.email }}"
								placeholder="{{
									'general.newsletter_form.email_placeholder'
										| t
								}}"
								aria-label="{{
									'general.newsletter_form.email_placeholder'
										| t
								}}"
								aria-required="true"
								required
								autocorrect="off"
								autocapitalize="off"
								{%
								if
								form.errors
								%}
								aria-invalid="true"
								aria-describedby="{{ formId }}-email-error"
								data-form-status
								{%
								endif
								%}
							/>
							<span class="input-group__btn">
								<button
									type="submit"
									class="btn newsletter__submit"
									name="commit"
									id="Subscribe"
								>
									<span
										class="newsletter__submit-text--large"
										>{{
											"general.newsletter_form.submit" | t
										}}</span
									>
								</button>
							</span>
						</div>
						{% if form.errors contains 'email' %}
						<span
							id="{{ formId }}-email-error"
							class="input-error-message"
						>
							{% include 'icon-error' %}
							{{
								form.errors.translated_fields["email"]
									| capitalize
							}}
							{{ form.errors.messages["email"] }}.
						</span>
						{% endif %} {% endform %}
					</div>

					{%- when 'text' -%} {%- if block.settings.text != blank -%}
					<div
						class="site-footer__rte {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}"
					>
						{{ block.settings.text }}
					</div>
					{%- endif -%} {%- when 'link_list' -%} {%- assign
					footer_linklist = block.settings.menu -%}
					<ul
						class="site-footer__linklist {% if inline_list %}list--inline{% endif %}"
					>
						{%- for link in linklists[footer_linklist].links -%}
						<li class="site-footer__linklist-item">
							<a
								href="{{ link.url }}"
								{%
								if
								link.current
								%}
								aria-current="page"
								{%
								endif
								%}
							>
								{{ link.title | escape }}
							</a>
						</li>
						{%- endfor -%} {% if block.settings.help_mail %}
						<li class="site-footer__linklist-item gray_color">
							{{ block.settings.email }}
						</li>
						{% endif %}
					</ul>

					{%- endcase -%}
				</div>
			</div>
			{%- endfor -%}
		</div>
	</div>

	<hr class="site-footer__hr" />

	<div class="px-5 md:px-14">
		<div
			class="flex flex-col items-center justify-center md:flex-row md:justify-between md:gap-x-10"
		>
			{%- if social_icons -%} {%- if settings.social_instagram_link !=
			blank -%}
			<a
				target="_blank"
				class="flex items-center gap-x-1 text-sm md:text-base"
				href="{{ settings.social_instagram_link | escape }}"
				aria-describedby="a11y-external-message"
			>
				{% render 'icon-instagram' %}
				<span>Follow Us on Instagram @Hypeflags</span>
			</a>
			{%- endif -%} {%- endif -%}

			<div
				class="mt-8 flex flex-wrap items-center justify-center gap-x-2 md:flex-wrap md:justify-end"
			>
				{% if section.settings.show_payment_icons %} {% unless
				shop.enabled_payment_types == empty %} {% for type in
				shop.enabled_payment_types %}
				{{ type | payment_type_svg_tag: class:"w-12 h-12" }}
				{% endfor %} {% endunless %} {% endif %}
			</div>
		</div>

		<div
			class="container mx-auto mt-16 flex max-w-md items-center justify-between gap-x-5 divide-x divide-gray-300 text-center text-xs uppercase tracking-widest"
		>
			<a href="{{ shop.url }}/policies/terms-of-service"
				>Terms of Service</a
			>
			<a class="pl-5" href="{{ shop.url }}/policies/privacy-policy"
				>Privacy Policy</a
			>
			<span class="pl-5"
				>&copy; {{ "now" | date: "%Y" }}, {{ shop.name }}</span
			>
		</div>
	</div>

	<script type="text/javascript">
		;(function (e, t, o, n, p, r, i) {
			e.visitorGlobalObjectAlias = n
			e[e.visitorGlobalObjectAlias] =
				e[e.visitorGlobalObjectAlias] ||
				function () {
					;(e[e.visitorGlobalObjectAlias].q =
						e[e.visitorGlobalObjectAlias].q || []).push(arguments)
				}
			e[e.visitorGlobalObjectAlias].l = new Date().getTime()
			r = t.createElement("script")
			r.src = o
			r.async = true
			i = t.getElementsByTagName("script")[0]
			i.parentNode.insertBefore(r, i)
		})(
			window,
			document,
			"https://diffuser-cdn.app-us1.com/diffuser/diffuser.js",
			"vgo"
		)
		vgo("setAccount", "26039040")
		vgo("setTrackByDefault", true)

		vgo("process")
	</script>
</footer>

<!-- prettier-ignore -->

{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Zahlungsarten",
        "en": "Payment methods",
        "es": "Métodos de pago",
        "fr": "Moyens de paiement",
        "it": "Metodi di pagamento",
        "ja": "お支払い方法",
        "nl": "Betaalmethoden",
        "pt-BR": "Formas de pagamento",
        "zh-CN": "支付方式",
        "zh-TW": "付款方式"
      }
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fr": "Couleur",
        "it": "Colore",
        "ja": "色",
        "nl": "Kleur",
        "pt-BR": "Cor",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "de": "Hintergrundfarbe",
        "en": "Background",
        "es": "Fondo",
        "fr": "Couleur de fond",
        "it": "Sfondo",
        "ja": "背景",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#3d4246"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "nl": "Menu",
        "pt-BR": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "nl": "Snelle links",
            "pt-BR": "Links rápidos",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "nl": "Menu",
            "pt-BR": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        },
		{
		  "type":"checkbox",
		  "id":"help_mail",
		  "label":"Show Help Email"
		},
		{
		  "type":"text",
		  "id":"email",
		  "label":"Email"
		}
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Reden Sie über Ihr Unternehmen",
            "en": "Talk about your business",
            "es": "Habla sobre tu negocio",
            "fr": "Parlez de votre entreprise",
            "it": "Parla della tua attività commerciale",
            "ja": "あなたのビジネスについて語る",
            "nl": "Vertel over uw bedrijf",
            "pt-BR": "Fale sobre o seu negócio",
            "zh-CN": "谈论您的业务",
            "zh-TW": "描述您的商家"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        },
		{
		  "type":"checkbox",
		  "id":"help_mail",
		  "label":"Show Help Email"
		},
		{
		  "type":"text",
		  "id":"email",
		  "label":"Email"
		}
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "メールマガジンの登録",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "メールマガジン",
            "nl": "Nieuwsbrief",
            "pt-BR": "Newsletter",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        },
		{
		  "type":"checkbox",
		  "id":"help_mail",
		  "label":"Show Help Email"
		},
		{
		  "type":"text",
		  "id":"email",
		  "label":"Email"
		}
      ]
    }
  ]
}
{% endschema %}
