<section>
    <div class="section-header section-title-wrap ig-home-sec" data-aos="fade-in" data-aos-duration="2000">
      <h2>{{ section.settings.title| escape }}</h2>
      
      <div class="slider-nav-wrap">
        <button class="slide-arrow arrow-prev arrow-ig"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.12 11.41"><path d="M5.71,0,0,5.71l5.71,5.7L7.12,10,2.83,5.71l4.29-4.3Z"/></svg></button>
        <button class="slide-arrow arrow-next arrow-ig"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.12 11.41"><path d="M5.71,0,0,5.71l5.71,5.7L7.12,10,2.83,5.71l4.29-4.3Z"/></svg></button>
      </div>
  	</div>

   <div class="swiper swiper-instagram">
     <div class="swiper-wrapper">
       {% if section.blocks.size > 0 %}
       	{% for block in section.blocks %}

         {% assign userImg = "ig_user_image_" | append: n %}
         {% assign userImg = block.settings[userImg] | default: 'ss' %}
         {% assign userName = "ig_user_name_" | append: n %}
         {% assign userName = block.settings[userName] %}

         {% assign userAvatar = "ig_user_avatar_" | append: n %}
         {% assign userAvatar = block.settings[userAvatar] %}

         {% assign userHandle = "ig_user_handle_" | append: n %}
         {% assign userHandle = block.settings[userHandle] | default: '@' %}

           <div class="ig-card swiper-slide">
             <div class="skeleton-loader-cust" style="min-height:330px"></div>
             <img class="ig-img" src="{{ block.settings.ig_img | img_url: '400x400' }}" loading="lazy" alt="ig">
             <div class="ig-user-meta">
               <img class="avatar" src="{{ block.settings.ig_user_avatar_1 | img_url: '200x200'  }}" loading="lazy" alt="avatar">
               <div class="user-info">
                 <span class="user-name">{{ block.settings.ig_user_name_1 }}</span>
                 <address class="user-handle">
                   {{ block.settings.ig_user_handle_1 }}
                 </address>
               </div>
             </div>
           </div>
       {% endfor %}
     {% endif %}
     </div>
   </div>
 </section>

 
{% schema %}
{
  "name": {
    "en": "Instagram Carousel"
  },
  "class": "index-section--- index-section--flush-medium-up---",
  "max_blocks": 20,
  "settings": [
		{
          "type": "text",
          "id": "title",
		  "label": "Heading",
	      "default": "READY TO JOIN THE HYPE?"
		},
		{
          "type": "text",
          "id": "ig_button_txt",
			"label": "Button Text",
			"default": "Shop All Flags"
		},
		{
          "type": "url",
          "id": "ig_button_url",
			"label": "Button URL"
		}

  	],
	"blocks": [
		{
          "type": "logo_image",
          "name": "Instagram Feed",
          "settings": [
          {
            "id": "ig_img",
            "type": "image_picker",
            "label": "Instagram Image"
          },
          {
          "type": "image_picker",
          "id": "ig_user_avatar_1",
          "label": "User Avatar"
          },
          {
          "type": "text",
          "id": "ig_user_name_1",
          "label": "User Name",
          "default": "Test"
          },
          {
          "type": "text",
          "id": "ig_user_handle_1",
          "label": "Instagram Handle",
          "default": "@"
          }
		]
	  }
   ],
  "presets": [
    {
      "name": {
        "en": "Instagram Carousel"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
    }
  ]
}
{% endschema %}
