<div
	class="product-template__container"
	id="ProductSection-{{ section.id }}"
	data-section-id="{{ section.id }}"
	data-section-type="product"
	data-enable-history-state="true"
>
	<div
		class="product-single{% if section.settings.enable_payment_button %} product-single--{{
			section.settings.image_size
		}}-image{% endif %}"
	>
		{% render 'product-image-gallery' %}

		<div class="product-desc mt-3.5 px-10 sm:mt-10 md:mt-0 md:p-0">
			{% render 'product-meta', product: product %}

			<div
				data-temp-wrapper
				class="mt-6 hidden items-center gap-x-4 rounded-md border border-green-800 bg-green-50/60 px-6 py-7"
			>
				<img
					src="#"
					class="h-20 w-20 rounded-lg object-cover"
					alt="tmp"
					data-temp-preview
				/>
				<div class="flex grow items-center justify-between">
					<div class="flex flex-col">
						<span data-tmp-file-name>Something Here</span>
						<span class="text-sm text-[#606163]"
							>File uploaded successfully (<span
								data-tmp-file-size
								>5.7</span
							>mb)</span
						>
					</div>
					<button
						type="button"
						class="flex items-center justify-center rounded-full border border-black/10 bg-white p-2"
						title="Remove Image"
						data-reset-cropper="warning"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5 text-black/60"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
				</div>
			</div>

			<label
				data-custom-flag-upload-wrapper
				for="custom-flag-image"
				class="upload-image-wrapper hover:cursor-pointe mt-5 flex flex-col items-center justify-center gap-y-2.5 rounded p-6 duration-300 ease-in-out md:mt-4 md:p-9 lg:mt-5 lg:p-10 xl:mt-6 xl:p-11"
			>
				<span
					data-upload-image-text
					class="upload-text flex items-center justify-between gap-x-2 duration-300 ease-in-out sm:text-base md:text-base xl:text-lg"
					>Drag your image here or <strong>browse</strong></span
				>
				<span class="text-sm text-[#606163]"
					>&bull; Format jpg or png (max size 9mb)</span
				>
				<input
					type="file"
					id="custom-flag-image"
					name="image"
					class="hidden"
				/>
			</label>

			<span class="mt-4 flex items-center gap-x-2">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="18"
					height="18"
					viewBox="0 0 18 18"
					fill="none"
				>
					<g opacity="0.5">
						<path
							d="M9 1.5C4.8645 1.5 1.5 4.8645 1.5 9C1.5 13.1355 4.8645 16.5 9 16.5C13.1355 16.5 16.5 13.1355 16.5 9C16.5 4.8645 13.1355 1.5 9 1.5ZM9.75 12.75H8.25V8.25H9.75V12.75ZM9.75 6.75H8.25V5.25H9.75V6.75Z"
							fill="#606163"
						/>
					</g>
				</svg>

				<span class="text-sm italic text-[#606163]"
					>Please review our
					<a
						href="#"
						class="underline hover:underline"
						data-cust-flag-modal
						>custom flag policy</a
					>
				</span>
			</span>

			{% render 'custom-add-to-cart', product: product %} {% render
			'product-info' %}
		</div>
	</div>
</div>

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
	{{ product | json }}
</script>
{% endunless %} {% render 'shipping-policy-modal' %}

<!-- prettier-ignore -->
{% schema %}
{
	"class": "product-page-classes",
"name": {
"de": "Produktseiten",
"en": "Product pages",
"es": "Páginas de productos",
"fr": "Pages de produits",
"it": "Pagine di prodotto",
"ja": "商品ページ",
"nl": "Productpagina's",
"pt-BR": "Páginas de produtos",
"zh-CN": "产品页面",
"zh-TW": "產品頁面"
},
"settings": [
{
"type": "select",
"id": "image_size",
"label": {
"de": "Foto-Größe",
"en": "Image size",
"es": "Tamaño de la imagen",
"fr": "Taille des images",
"it": "Dimensione immagine",
"ja": "画像のサイズ",
"nl": "Afbeeldingsformaat",
"pt-BR": "Tamanho da imagem",
"zh-CN": "图片尺寸",
"zh-TW": "圖片尺寸"
},
"options": [
{
"value": "small",
"label": {
"de": "Klein",
"en": "Small",
"es": "Pequeña",
"fr": "Petite",
"it": "Piccolo",
"ja": "小",
"nl": "Klein",
"pt-BR": "Pequeno",
"zh-CN": "小",
"zh-TW": "小型"
}
},
{
"value": "medium",
"label": {
"de": "Mittel",
"en": "Medium",
"es": "Mediana",
"fr": "Moyenne",
"it": "Medio",
"ja": "中",
"nl": "Gemiddeld",
"pt-BR": "Médio",
"zh-CN": "中等",
"zh-TW": "中等"
}
},
{
"value": "large",
"label": {
"de": "Groß",
"en": "Large",
"es": "Grande",
"fr": "Grande",
"it": "Grande",
"ja": "大",
"nl": "Groot",
"pt-BR": "Grande",
"zh-CN": "大",
"zh-TW": "大型"
}
},
{
"value": "full",
"label": {
"de": "Volle Breite",
"en": "Full-width",
"es": "Ancho completo",
"fr": "Pleine largeur",
"it": "Intera larghezza",
"ja": "全幅",
"nl": "Volledige breedte",
"pt-BR": "Largura completa",
"zh-CN": "全宽",
"zh-TW": "完整寬度"
}
}
],
"default": "medium"
},
{
"type": "checkbox",
"id": "show_quantity_selector",
"label": {
"de": "Quantitäts-Auswahl anzeigen",
"en": "Show quantity selector",
},
"default": false
},
{
"type": "text",
"id": "shipping_text",
"label": {
"de": "Shipping Titel",
"en": "Shipping Title"
}
},
{
"type": "text",
"id": "shipping_text_os",
"label": {
"en": "Shipping Title for Backorders"
},
"default": "Pre-order | This flag will ship in 7-10 days"
},
{
"type": "checkbox",
"id": "show_variant_labels",
"label": {
"de": "Varianten-Etiketten anzeigen",
"en": "Show variant labels",
},
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": {
"de": "Lieferanten anzeigen",
"en": "Show vendor",
},
"default": false
},
{
"type": "checkbox",
"id": "enable_zoom",
"label": {
"de": "Foto-Zoom zulassen",
"en": "Enable image zoom",
},
"default": true
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": {
"de": "Dynamischen Checkout Button anzeigen",
"en": "Show dynamic checkout button",
},
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": {
"de": "Buttons für Social Media anzeigen",
"en": "Show social sharing buttons",
},
"default": true
}
]
}
{% endschema %}
