{% if product.tags contains 'custom' %}
  {% include 'combine-css' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css" integrity="sha512-wzhF4/lKJ2Nc8mKHNzoFP4JZsnTcBOUUBT+lWPcs07mz6lK3NpMH1NKCKDMarjaw8gcYnSBNjjllN4kVbKedbw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js" integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify-mobile.min.js" integrity="sha512-c3hGxeqPC+hyYCH6xddUy6sg5lgmXomxpN5fkhUxKPOM7OD/+M+Rj1rj02q4MOkn+PUBRGPZVNTMMrREyZS0mA==" crossorigin="anonymous"></script>
{% endif %}
<div class="product-template__container page-width"
     id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="product"
     data-enable-history-state="true" 
     > 
  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.image_size %}
  {% when 'small' %}
  {%- assign product_image_width = 'medium-up--one-third' -%}
  {%- assign product_description_width = 'medium-up--two-thirds' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
  {%- assign height = 345 -%}
  {% when 'medium' %}
  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
  {%- assign height = 530 -%}
  {% when 'large' %}
  {%- assign product_image_width = 'medium-up--two-thirds' -%}
  {%- assign product_description_width = 'medium-up--one-third' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
  {%- assign height = 720 -%}
  {% when 'full' %}
  {%- assign product_image_width = '' -%}
  {%- assign product_description_width = '' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
  {%- assign height = 1090 -%}
  {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %}">
    {%comment%}
      <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
        {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}


        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div
               id="{{ zoom_img_id }}"
               style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"
               class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}"
               data-image-id="{{ image.id }}" data-src="{{ img_url }}"
               {% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 tabindex="-1"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
        {% endfor %}

        <noscript>
          {% capture product_image_size %}{{ height }}x{% endcapture %}
          <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
        </noscript>

        {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
        {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active {% endif %}">
          {% if enable_thumbnail_slides == true %}
          <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
            {% include 'icon-chevron-left' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
          </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }} ">
            {% for image in product.images %}
            <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
              <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                 class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                 data-thumbnail-id="{{ image.id }}"
                 {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}">
              </a>
            </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
          <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
            {% include 'icon-chevron-right' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
          </button>
          {% endif %}
        </div>
        {% endif %}
        {%endcomment%}
        
        
      
<!--       <div class="grid__item product-single__photos product-slider-wrapper {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}" style="position:relative"> -->
      <div class="grid__item!! product-single__photos product-slider-wrapper{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
        <div class="slider-wrapper">
          <canvas id="Canvas_data" width="585" height="300" style="max-width:565px;max-height:350px; display:none;"></canvas>
          <div class="main_product_slider _mhh" style="position: relative; height: auto;">
            <div class="skeleton-loader-cust"></div>
            <div class="slider-for">
              {% for image in product.images %}
              <div class="slider-for__item ex1" data-src="{{ image.src | product_img_url: 'master' }}">           
               {% if product.tags contains 'Newarrival' %}
                <p class="new-tag">New Arrival</p>
                {% elsif product.tags contains 'Bestseller' %}
                <p class="best-tag">Best Seller</p>
               {% endif %}
                  <img data-index="{{ forloop.index }}" src="{{ image.src | product_img_url: '900x' }}" alt="{{ image.alt }}">
              </div>
              {% endfor %}
            </div>
          </div>

              <div class="slider-nav-wrapper _oof">
                <div class="slider-nav">
                  {% for image in product.images %}
                    <div class="slider-nav__item" style="position:relative;">
                      <div class="skeleton-loader-cust"></div>
                      <img src="{{ image.src | product_img_url: 'medium' }}">
                    </div>
                  {% endfor %}
                </div>
                <div class="slick-arrows">
                  <span class="prev-arrow-2">
                      <img src="{{'prev-arrow.svg'| asset_url }}" alt="">
                  </span>
                  <span class="next-arrow-2">
                      <img src="{{'next-arrow.svg'| asset_url }}" alt="">
                  </span>
                </div>
              </div>
        </div>
        </div>
        
        <style>
          ._mhh {
            min-height: 568px;
          }
          ._oof {
            margin-top: 30px;
          }
           @media(max-width: 767px) {
            ._mhh {
              min-height: 35vh;
            }
             ._oof {
               margin-top: 10px;
             }
          }
        </style>
<!--         <div class="grid__item product-desc {{ product_description_width }}"> -->
        <div class="grid__item!! product-desc">
          <div class="product-single__meta">

            <h1 class="product-single__title">{{ product.title }}</h1>
            {% unless product.available %}
            <div id="sold-out">
              {% form 'contact' %}
              {% if form.posted_successfully? %}
              <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
              {% else %}
              <p><a id="notify-me" href="#"><strong>Click here to be notified by email when {{ product.title }} becomes available.</strong></a> </p>
              {% endif %}
              {% if form.errors %}
              <div class="error feedback accent-text">
                <p>Please provide a valid email address.</p>
              </div>
              {% endif %}
              {% unless form.posted_successfully? %}
              <div id="notify-me-wrapper" class="clearfix" style="display:none">
                {% if customer %}
                <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                {% else %}
                <input style="float:left; width:180px;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                {% endif %}
                <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
                <input style="float:left; margin-left:5px;" class="btn styled-submit" type="submit" value="Send" />
              </div>
              {% endunless %}
              {% endform %}
            </div> 
            {% endunless %}


            {% comment %}Start automatically added Judge.me widget{% endcomment %}
            {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
            {% comment %}End automatically added Judge.me widget{% endcomment %}


            <!-- Product Price -->
            <div class="product__price">
              {% include 'product-price', variant: current_variant %}
            </div>
            
            {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
              {% assign bkorder = false %}
            {% else %}
              {% assign bkorder = true %}
            {% endif %}

            <!-- Product Shipping Info Text -->
<!--             <div class="webkit_center{% if backorder %} backorder{% endif %} {% if product.id == 3824189505584 %}custom-product--info{% endif %}"> -->
            <div class="webkit_center {% if product.id == 3824189505584 %}custom-product--info{% endif %}">

              {% if bkorder %}
                 {% if product.id != 3824189505584 %}
                    {% if section.settings.shipping_text_os != blank %}
                        <p class="bo-text">{{ section.settings.shipping_text_os }}</p>
                    {% endif %} 
                  {% endif %}
               {% else %}

                {% if product.id != 3824189505584 %}
                  {% if section.settings.shipping_text != blank %}
                    <p>{{ section.settings.shipping_text }}
              			<span id="prod-info-tooltip">*Before 2pm EST. If placed after, the order will ship the following business day.
                          <a href="https://hypeflags.com/pages/shipping-handling"><em>Our shipping policies</em></a>.
                      </span>
              		</p>    
                      
                    {% endif %} 
                {% endif %}
              {% endif %}
              

               {% if product.id == 3824189505584 %}
                  <h3><strong>Get Started:</strong></h3>
              
<!--               	  <div class="low-res-warning-indicator low-res-warning-indicator--secondary">
                    <p>The file is below our suggested resolution. Your flag may appear blurry or pixelated.</p>
                  </div> -->
              	  
              	  <div class="cust-flag-up-img-block-wrap">
                    <div class="cust-flag-up-img-block">
                      <span>Upload Image</span>
                    </div>

                    <span style="display:none" id="remove" class="cross-cropper" data-reset-cropper="warning">
                    <img src="https://cdn.shopify.com/s/files/1/0254/3868/3184/files/cross-red.png?v=1591080818">
                    </span>
                  </div>

                  <span class="cust-flag-rev-txt">Please review our <a href="#" data-cust-flag-modal>custom flag policy</a></span>
              
                  <input type="file" id="inputImage" name="image" class="canvas_image_upload" style="display:none">
              
<!-- 				  <span class='error_file' style='display:none;'>
                    <img src="https://cdn.shopify.com/s/files/1/0254/3868/3184/files/error-file.png?v=1591083295">
                  	<span>The file you uploaded exceeds the maximum file size of 9MB</span>
                  </span>               -->
              <script>
                jQuery(function($) {
                  $('.cust-flag-up-img-block').on('click', function() {
                    
                    
                  	$('body').find('#inputImage').trigger('click')
                                                          
                  })
                  
                  $('[data-cust-flag-modal]').on('click', function(e) {
                    e.preventDefault()
                    $('.cust-flag-privacy-modal').fadeIn({
                        duration: 'slow',
                        start: function() {
                            $(this).css('display', 'flex')
                        }
                    })
                  })
                  
                  $('.cust-flag-privacy-modal').click(function() {
                  	$(this).fadeOut()
                  })
                  
                  $('body').on('click', 'span[data-cust-flag-privacy-modal-close]', function(e) {
                  	$('.cust-flag-privacy-modal').fadeOut()
                  })
                  
                  $('.cust-flag-privacy-modal .inner-body').click(function(event) {
                    if(!$(event.target).closest('span').length && !$(event.target).is('span')) {
                      event.preventDefault();
                      event.stopPropagation();
                      event.stopImmediatePropagation();

                      return false
                    }
                  })
                })
              </script>
               {% endif %}

            </div>

            <div class="product-accordion-wrapper">
              <div class="product-accordion-item is-collapsed">
                <h3><strong>Product Detail</strong> <button><span></span><span></span></button></h3>
                <ul>
                  <li>Size : 3 x 5 ft</li>
                  <li>100% Lightweight Polyester</li>
                  <li>4 reinforced metal grommets for hanging</li>
                  <li>Reuseable storage bag included</li>
                </ul>
              </div>

              <div class="product-accordion-item is-collapsed">
                <h3><strong>About HypeFlags</strong> <button><span></span><span></span></button></h3>
                <p>We are the original and most trusted flag company. Our lightweight wall flags feature vivid colors and crisp lines, giving you an awesome centerpiece for any space. Made with high quality craftsmanship and durable materials these flags are built to last.
                  <br/>
                  <br/>
                  <a href="/pages/about-us">Learn more about us</a>.
                </p>
              </div>
            </div>


            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte">
                {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
            {%- endcapture %}

            {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '', data-product-form-redirect-url: '/cart' %}
            {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
            <div class="selector-wrapper js product-form__item">
              <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
              {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector and product.available and product.id != 3824189505584 %}
            <div class="product-form__item product-form__item--quantity">
              <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" data-quantity-input>
            </div>
            {% endif %}


            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
              {% include 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

            <div class="product-form__item product-form__item--submit product-cart-btn{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">

                   {% if product.id == 3824189505584 %}
                    {% if false == section.settings.show_quantity_selector and product.available  %}
                    <div class="product-form__item product-form__item--quantity custom-product--qty">
                      <div class="product-form__input-wrap">                        
                        <button type="button" disabled data-qty="minus">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                          </svg>
                        </button>
                      	<input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1"
                               class="product-form__input" pattern="[0-9]*" data-quantity-input>
                        <button type="button" data-qty="add">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                          </svg>
                        </button>
                      </div>
                      
                      <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
                        <span data-add-to-cart-text>
                          {% unless current_variant.available %}
                          {{ 'products.product.sold_out' | t }}
                          {% else %}
                          {{ 'products.product.add_to_cart' | t }}
                          {% endunless %}
                        </span>
                      </button>
              		</div>
                    {% endif %}
                  {% endif %}

			
              {% if product.id != 3824189505584 %}
                <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                    {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                </button>
              {% endif %}
              
              {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
              {% endif %}
            </div>
            {% endform %}

          </div>
        
        {% unless product.id == 3824189505584 %}
          <div class="custom-flag-promo">
           <figure>
             <img src="{{ 'custom-flag-banner-new.jpg' | asset_url }}" alt="Create Custom Flag" />
            </figure>
            <div>
              <h3>Looking to customize your own flag?</h3>
              <p>Custom flags for just $18.99</p>
              <a href="/products/custom-flag-upload-your-design" class="product-custom-flag">Get Started</a>
            </div>
          </div>
        {% endunless %}


        {% if section.settings.show_share_buttons %}
           {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
      
    </div>

    {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {%comment%}  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}{% endcomment %}
    {% comment %}End automatically added Judge.me widget{% endcomment %}
</div>
</div>

<script> 
    $(document).ready(function(){
      $('.product-accordion-item h3').on('click touch', function(e) {
        e.preventDefault()

        const _this = $(this)

        $(this).parent().find('p, ul').slideToggle('fast', function() {
        	_this.parent().toggleClass('is-collapsed');
        });
      })
      
     $('.b-drop-info').hover(
       function() {
       $(this).addClass('show')
     })
     
     $('.b-drop-info').mouseout(function(e) {
       
       if ( e.relatedTarget && 
           ( $(e.relatedTarget).hasClass('webkit_center') ||
            $(e.relatedTarget).hasClass('product-single__meta') ||
           $(e.toElement) == 'p' )
          ) { 
     		$(this).removeClass('show')
       }
     })
           
      $('#prod-info-tooltip')
      .mouseover(function() {
      	$('.b-drop-info').trigger('mouseenter')
      })
      .mouseout(function() {
        $('.b-drop-info').trigger('mouseout')
        $('.b-drop-info').removeClass('show')
      })
      
      $('body').click(function (event) {        
         if(!$(event.target).closest('.b-drop-info').length && !$(event.target).is('#prod-info-tooltip')) {
           $("#prod-info-tooltip").hide();
         } else if ( $(event.target).closest('.b-drop-info').length > 0 ) {
           $("#prod-info-tooltip").show();
         }
      });
    });
 
  
</script>
  
    
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
</script>
{% endunless %}

  {% assign tag_custom = 'false' %}
  {% if product.tags contains 'custom' %}

    {% comment %}
        {% include 'image_cropper' %}
    {% endcomment %}


    {% assign tag_custom = 'true' %}

    <input type='hidden' class='custom_tag' value='{{ tag_custom }}'/>
    <script>
      $(document).ready(function(){
      $(".product-form__cart-submit").next("div").remove();
      var custom_tag = $(".custom_tag").val();

        if(custom_tag == 'true'){
        $("[name='add']").attr("disabled","disabled");
        }
      });
    </script>

    
  {% endif %}



{% schema %}
{
"name": {
"de": "Produktseiten",
"en": "Product pages",
"es": "Páginas de productos",
"fr": "Pages de produits",
"it": "Pagine di prodotto",
"ja": "商品ページ",
"nl": "Productpagina's",
"pt-BR": "Páginas de produtos",
"zh-CN": "产品页面",
"zh-TW": "產品頁面"
},
"settings": [
{
"type": "select",
"id": "image_size",
"label": {
"de": "Foto-Größe",
"en": "Image size",
"es": "Tamaño de la imagen",
"fr": "Taille des images",
"it": "Dimensione immagine",
"ja": "画像のサイズ",
"nl": "Afbeeldingsformaat",
"pt-BR": "Tamanho da imagem",
"zh-CN": "图片尺寸",
"zh-TW": "圖片尺寸"
},
"options": [
{
"value": "small",
"label": {
"de": "Klein",
"en": "Small",
"es": "Pequeña",
"fr": "Petite",
"it": "Piccolo",
"ja": "小",
"nl": "Klein",
"pt-BR": "Pequeno",
"zh-CN": "小",
"zh-TW": "小型"
}
},
{
"value": "medium",
"label": {
"de": "Mittel",
"en": "Medium",
"es": "Mediana",
"fr": "Moyenne",
"it": "Medio",
"ja": "中",
"nl": "Gemiddeld",
"pt-BR": "Médio",
"zh-CN": "中等",
"zh-TW": "中等"
}
},
{
"value": "large",
"label": {
"de": "Groß",
"en": "Large",
"es": "Grande",
"fr": "Grande",
"it": "Grande",
"ja": "大",
"nl": "Groot",
"pt-BR": "Grande",
"zh-CN": "大",
"zh-TW": "大型"
}
},
{
"value": "full",
"label": {
"de": "Volle Breite",
"en": "Full-width",
"es": "Ancho completo",
"fr": "Pleine largeur",
"it": "Intera larghezza",
"ja": "全幅",
"nl": "Volledige breedte",
"pt-BR": "Largura completa",
"zh-CN": "全宽",
"zh-TW": "完整寬度"
}
}
],
"default": "medium"
},
{
"type": "checkbox",
"id": "show_quantity_selector",
"label": {
"de": "Quantitäts-Auswahl anzeigen",
"en": "Show quantity selector",
"es": "Mostrar selector de cantidad",
"fr": "Afficher le sélecteur de quantité",
"it": "Mostra selettore quantità",
"ja": "数量セレクターを表示する",
"nl": "Hoeveelheidskiezer weergeven",
"pt-BR": "Exibir seletor de quantidade",
"zh-CN": "显示数量选择器",
"zh-TW": "顯示數量選擇器"
},
"default": false
},
{
"type": "text",
"id": "shipping_text",
"label": {
"de": "Shipping Titel",
"en": "Shipping Title"
}
},
{
"type": "text",
"id": "shipping_text_os",
"label": {
"en": "Shipping Title for Backorders"
},
"default": "Pre-order | This flag will ship in 7-10 days"
},
{
"type": "checkbox",
"id": "show_variant_labels",
"label": {
"de": "Varianten-Etiketten anzeigen",
"en": "Show variant labels",
"es": "Mostrar etiquetas de variantes",
"fr": "Afficher le nom des variantes",
"it": "Mostra etichette varianti",
"ja": "バリエーションのラベルを表示する",
"nl": "Variantlabels weergeven",
"pt-BR": "Exibir etiquetas de variantes",
"zh-CN": "显示多属性标签",
"zh-TW": "顯示子類選項標籤"
},
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": {
"de": "Lieferanten anzeigen",
"en": "Show vendor",
"es": "Mostrar proveedor",
"fr": "Afficher les vendeurs",
"it": "Mostra fornitore",
"ja": "販売元を表示する",
"nl": "Leverancier weergeven",
"pt-BR": "Exibir fornecedor",
"zh-CN": "显示厂商",
"zh-TW": "顯示廠商"
},
"default": false
},
{
"type": "checkbox",
"id": "enable_zoom",
"label": {
"de": "Foto-Zoom zulassen",
"en": "Enable image zoom",
"es": "Habilitar zoom de imagen",
"fr": "Activer le zoom d'image",
"it": "Abilita lo zoom dell'immagine",
"ja": "画像ズームを有効にする",
"nl": "Inzoomen op afbeelding inschakelen",
"pt-BR": "Ativar o zoom da imagem",
"zh-CN": "启用图片缩放",
"zh-TW": "啟用圖片縮放"
},
"default": true
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": {
"de": "Dynamischen Checkout Button anzeigen",
"en": "Show dynamic checkout button",
"es": "Mostrar botón de pago dinámico",
"fr": "Afficher le bouton de passage à la caisse dynamique",
"it": "Mostra pulsante di check-out dinamico",
"ja": "ダイナミックチェックアウトボタンを表示する",
"nl": "Dynamische checkout knop weergeven",
"pt-BR": "Exibir botão dinâmico de finalização da compra",
"zh-CN": "显示动态结账按钮",
"zh-TW": "顯示動態結帳按鈕"
},
"info": {
"de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"pt-BR": "Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"zh-TW": "每位客戶都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
},
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": {
"de": "Buttons für Social Media anzeigen",
"en": "Show social sharing buttons",
"es": "Mostrar botones para compartir en redes sociales",
"fr": "Affichez les boutons de partage sur les médias sociaux",
"it": "Mostra i pulsanti per la condivisione sui social",
"ja": "ソーシャル共有ボタンを表示する",
"nl": "Knoppen voor sociaal delen weergeven",
"pt-BR": "Exibir botões de compartilhamento em redes sociais",
"zh-CN": "显示社交分享按钮",
"zh-TW": "顯示社群分享按鈕"
},
"default": true
}
]
}
{% endschema %}


  {% if product.id == 3824189505584 %}

	<div class="cust-flag-privacy-modal">
      <div class="inner-body">
        <div class="m-head">
          <h4>HypeFlags Custom Flag Policy</h4>
          <span data-cust-flag-privacy-modal-close title="Close">&times;</span>
        </div>
        
        <div class="m-body">
          <p>Custom flags require an additional 5-7 business day processing time. All orders will ship from the USA.</p>
          <p>Please allow a 5% bleed area on all edges of the flag to ensure no important parts of your image are cut out during production.</p>
          <p>Note: We print the file to the exact resolution when uploaded. The image may appear pixelated or blurry when scaled to the full flag size. Our recommended minimum image size is 2000px on the shortest side. We are unable to provide any return or refund due to a low resolution file.</p>
          <p>By uploading, you certify that you own copyrights for this image or are authorized by the owner to use it. Please do not submit any flags that contain nudity or hateful imagery. We reserve the right to reject and refund any custom flag orders.</p>
          <p>Returns: Custom flags are not returnable unless there is a printing defect. If you are unhappy with your custom flag please contact us and our team will help find a resolution.</p>
        </div>
      </div>
</div>

<style>
.review-user-info {
	display: none !important
}
  .ig-img,
  .review-carousel-item {
  	width: 250px !important;
    height: 250px;
  }
  .hf-legit .review-carousel-wrap .review-carousel-item, .index-section .review-carousel-wrap .review-carousel-item,
  .template-product .review-carousel-wrap .review-carousel-item {
    width: 250px !important;
    height: 250px !important;
  }
  
  .template-product .review-carousel-wrap.ig-feed .review-carousel-item figure.ig-img:after {
  	content: unset;
  }
  
  button.btn.product-form__cart-submit {
    width: 100%;
  }
/*   button.btn.product-form__cart-submit */
  
  .product-form__item.custom-product--qty:after {
    content: '• Made to order | will ship in 5-7 days';
    position: absolute;
    left: 0;
    font-size: 15.5px;
    font-weight: normal;
    cursor: text;
    color: #FFA800;
    text-transform: capitalize;
    letter-spacing: 0;
    width: 100%;
    bottom: -50px;
    height: 40px;
    text-align: center;
  }
  
  @media(max-width:767px) {
    button.btn.product-form__cart-submit {
      padding: 8px 16px;
    }
    
    button.btn.product-form__cart-submit:after {
      font-size: 11px;
    }  
  }
</style>

{% endif %}
