{% if section.blocks.size > 0 and product.id == 4597274214473 %}
<section id="page-section-{{ block.id }}" class="ig-feed-cont-wrapper product-show-off">
  	
  <div class="ig-feed-heading">
  	<h3>{{  section.settings.heading | escape }}</h3>
    <h5>{{ section.settings.subtitle }}</h5>
  </div>

    
            
   <div class="review-carousel-container ig-feed-cont swiper swiper-product-ig">
     <div class="row review-carousel-wrap ig-feed product-showoff-ig-feed swiper-wrapper">
         {% for block in section.blocks %}
         {% if block.settings.image %}
       
           <div class="review-carousel-item swiper-slide">
             <div class="skeleton-loader-cust"></div>
             <figure class="ig-img">
               <img src="{{ block.settings.image | img_url: '400x400' }}" alt="{{ block.settings.image.alt }}">
             </figure>
           </div>
         {% endif %}
        {% endfor %}
     </div>
   </div>
</section>

{% endif %}

{% schema %}
  {
    "name": "ShowOff (Twitter Flag)",
    "settings": [
	{
		"type":"text",
		"id":"heading",
		"label":"Heading"
	},
	{
		"type":"html",
		"id":"subtitle",
		"label":"Subtitle"
	}
	],
	"blocks":[
	{
		"type":"post",
		"name":"Post",
		"settings":[
		{
			"type":"image_picker",
			"id":"image",
			"label":"Image",
  			"info":"Use image ratio 500x500"
		}
		]
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
